@model IndexModel


@if (@Model.CatalogoEstaFiltrado())
{
        <div class="page-head_agile_info_w3l">
        </div>
}
else
    {
      <partial name="_carousel"/>
    }






<!-- top Products -->
<div class="ads-grid py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>N</span>ossos
            <span>P</span>rodutos
        </h3>
        <!-- //tittle heading -->
        <div class="row">
            <!-- product left -->
            <div class="agileinfo-ads-display col-lg-9">
                <div class="wrapper">
                    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                        <div class="row">

                            <partial name="_catalago" model="@Model" />

                        </div>
                    </div>

                </div>
            </div>
            <!-- //product left -->
            <!-- product right -->
            <div class="col-lg-3 mt-lg-0 mt-4 p-lg-0">
                <div class="side-bar p-sm-4 p-3">
                    <div class="search-hotel border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Pesquise aqui..</h3>
                        <form asp-action="Index" method="get">
                            <input type="search" placeholder="Nome de um produto..." name="pesquisa">
                            <input type="submit" value=" ">
                        </form>
                    </div>
                    <!-- price -->
                    <div class="range border-bottom py-2">
                        <h3 class="agileits-sear-head mb-3">Preço</h3>
                        <div class="w3l-range">
                            <ul>
                                @if (@Model.Catalogo.PrecoMaximo != null || @Model.Catalogo.PrecoMinimo != null)
                                {
                                    <li>
                                        <a class="text-primary" asp-action="Index" asp-route-categoriaSelecionada="@Model.Catalogo.CategoriaAplicada">R$ @Model.Catalogo.PrecoMinimo - R$ @Model.Catalogo.PrecoMaximo X</a>
                                    </li>
                                    <br />
                                }
                                <li>
                                    <a asp-action="Index" asp-route-categoriaSelecionada="@Model.Catalogo.CategoriaAplicada" asp-route-precoMinimo="300">Abaixo R$300</a>
                                </li>
                                <li class="my-1">
                                    <a asp-action="Index" asp-route-categoriaSelecionada="@Model.Catalogo.CategoriaAplicada" asp-route-precoMinimo="300" asp-route-precoMaximo="900">R$300 - R$900</a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-route-categoriaSelecionada="@Model.Catalogo.CategoriaAplicada" asp-route-precoMinimo="900" asp-route-precoMaximo="1100">R$900 - R$1100</a>
                                </li>
                                <li class="my-1">
                                    <a asp-action="Index" asp-route-categoriaSelecionada="@Model.Catalogo.CategoriaAplicada" asp-route-precoMinimo="1100" asp-route-precoMaximo="1500">R$1100 - R$1500</a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-route-categoriaSelecionada="@Model.Catalogo.CategoriaAplicada" asp-route-precoMinimo="1500" asp-route-precoMaximo="2000">R$1500 R$2000</a>
                                </li>
                                <li class="mt-1">
                                    <a asp-action="Index" asp-route-categoriaSelecionada="@Model.Catalogo.CategoriaAplicada" asp-route-precoMaximo="2000">Acima R$2000</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //price -->                

                    <!-- best seller -->
                    <div class="f-grid py-2">
                        <h3 class="agileits-sear-head mb-3">Mais vendidos</h3>
                        <div class="box-scroll">
                            <div class="scroll">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                        <img src="/uploads/imagens_produtos/7_0.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                        <a href="">Processador Intel i5-10400</a>
                                        <a href="" class="price-mar mt-2">R$ 1.256,45</a>
                                    </div>
                                </div>
                                <div class="row my-4">
                                    <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                        <img src="/uploads/imagens_produtos/1_0.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                        <a href="">PLACA DE VIDEO DUEX GEFORCE GTX 750TI 4GB DDR5 128BIT</a>
                                        <a href="" class="price-mar mt-2">R$ 1.037,70</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-2 col-3 left-mar">
                                        <img src="/uploads/imagens_produtos/9_principal.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="col-lg-9 col-sm-10 col-9 w3_mvd">
                                        <a href="">Processador Amd Ryzen 5 5500 3.6Ghz (4.2Ghz Turbo) Am4</a>
                                        <a href="" class="price-mar mt-2">	R$ 1.237,70 </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //best seller -->
                </div>
                <!-- //product right -->
            </div>
        </div>
    </div>
</div>
<!-- //top products -->
