@model IEnumerable<AspStore.Application.ViewModels.CategoriaViewModel>

@{
    ViewData["Title"] = "Lista de Categoria";
    Layout = "~/Views/Shared/_LayoutBackOffice.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-controller="CategoriaBO" asp-action="Edit" asp-route-id="@item.Id"><span class="material-icons" title="Editar Produto">edit</span> </a>
                    <a asp-controller="CategoriaBO" asp-action="Details" asp-route-id="@item.Id"><span class="material-icons" title="Detalhes Produto">info</span> </a>
                    <a asp-controller="CategoriaBO" asp-action="Delete" asp-route-id="@item.Id"><span class="material-icons" title="Excluir Produto">delete</span> </a>
                </td>
            </tr>
        }
    </tbody>
</table>
