@model AspStore.Application.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Adicionar";
    Layout = "~/Views/Shared/_LayoutBackOffice.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Nome" class="control-label"></label>
                <input asp-for="@Model.Nome" class="form-control" />
                <span asp-validation-for="@Model.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Preco" class="control-label"></label>
                <input asp-for="@Model.Preco" class="form-control" />
                <span asp-validation-for="@Model.Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Estoque" class="control-label"></label>
                <input asp-for="@Model.Estoque" class="form-control" />
                <span asp-validation-for="@Model.Estoque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CategoriaId" class="control-label"></label>
                <select asp-for="@Model.CategoriaId" asp-items="@ViewBag.Categorias" class="form-control">
                    <option value="">--- Categoria ---</option>
                </select>
                <span asp-validation-for="@Model.CategoriaId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Selecione uma Imagem Principal</label>
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                <input type="file" name="imagemPrincipal" class="form-control" placeholder="Selecione uma Imagem Principal..." />
            </div>
            <div class="form-group">
                <label class="control-label">Selecione as Imagens Segundaria</label>
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                <input type="file" name="imagensSegundaria" class="form-control" multiple placeholder="Selecione as Imagens Segundaria" />
            </div>

            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
